#changePasswordModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='changePasswordModal' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      //- Post Here
      form(class="needs-validation" method="post" action=`/change-password/` oninput='confirm_new_password.setCustomValidity(confirm_new_password.value != new_password.value ? "New Password / Confirm New Password do not match." : "");')
        .modal-header
            h5#exampleModalLabel.modal-title Change Password
            button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
            .form-group
              .row
                .col-12
                  div.form-group.form-row
                    .col-12
                      label.small(for="old_password") Old Password
                      .input-group
                        input.form-control(type="password" name="old_password" required)
                  div.form-group.form-row
                    .col-12
                      label.small(for="new_password") New Password
                      .input-group
                        input.form-control(type="password" name="new_password" required)
                      .invalid-feedback You must agree before submitting.
                  div.form-group.form-row
                    .col-12
                      label.small(for="confirm_new_password") Confirm - New Password
                      .input-group
                        input.form-control(type="password" name="confirm_new_password" required)
                      .invalid-feedback You must agree before submitting.
        .modal-footer
          button.btn.btn-secondary(data-dismiss='modal') Cancel
          button.btn.btn-primary(type='submit') Change Password
    