#createProjectModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='createProjectModal' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      //- Post Here
      form(method="post" action="/project/create")
        .modal-header
            h5#exampleModalLabel.modal-title Create a Project
            button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
            .form-group
              .row
                .col-12
                  div.form-group.form-row
                    .col.col-md-12
                    label.small(for="project_name") Project Name
                    .input-group
                      input.form-control(type="text" name="project_name" placeholder="Project Name") 
                  div.form-group.form-row
                    .col.col-md-12
                    label.small(for="project_address") Address
                    .input-group  
                      input.form-control(name="project_address" placeholder="Project Address")
        .modal-footer
          button.btn.btn-secondary(data-dismiss='modal') Cancel
          button.btn.btn-primary(type='submit') Submit