#submitProjectModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='submitProjectModalLabel' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title Submit your project to YourQS?
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body Are you sure you want to submit your Project to YourQS?
      .modal-footer
        button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
        a.btn.btn-success(href=`/project/${project.encodeProjCode(project.id)}/submit`) Submit Project