// Footer
footer.sticky-footer.bg-white
  .container.my-auto
    .copyright.text-center.my-auto
      span 
      |  Copyright &copy; YourQS 2019 | Powered by 
      img(style="padding: 3px; width:170px" src="img/qscollector.png" alt="roaldjap@gmail.com / marlonspr17@gmail.com") 
        
// End of Footer