.logoNavbar{
  max-width: 110px;
}

.capitalize{
  text-transform: capitalize;
}

.padded-top-bottom{
  padding: 20px 0;
}

.h-centered{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.profile-pic{
  height: 13rem;
  width: 13rem;
  // background-image: url('img/pug-1.jpg');
  background-position: center;
  background-size: 100%;
  margin: 0 auto;
  border-radius: 50%;
}