extends dashboard-layout

include mixins/_flashMsg

include mixins/scopeForms/_mainProject
include mixins/scopeForms/_manpower
include mixins/scopeForms/_siteArrangement
include mixins/scopeForms/_safetyRequirement
include mixins/scopeForms/_allowanceAndInsurance
include mixins/scopeForms/_temporaryService
include mixins/scopeForms/_professionalServiceAllowance
include mixins/scopeForms/_interior
include mixins/scopeForms/_interiorTrims
include mixins/scopeForms/_interiorFinishes
include mixins/scopeForms/_windowsAndDoors
include mixins/scopeForms/_joineryAllowance
include mixins/scopeForms/_plumbing
include mixins/scopeForms/_electrical
include mixins/scopeForms/_drainage
include mixins/scopeForms/_other
include mixins/scopeForms/_exterior
include mixins/scopeForms/_hardLandscaping

block stylesheet
  //- Jquery ui css
  link(href='/vendor/jquery-ui/jquery-ui.css' rel='stylesheet')

block javascript
  //- ADDY SECRET and KEY
  script.
    var a_key = "#{a_key}";
    var a_secret = "#{a_secret}";

  //- Jquery ui for autocomplete address
  script(src='/vendor/jquery-ui/jquery-ui.min.js')

  //- register scripts
  script(src='/vendor/jquery-ui/register-script.js')

  if project.project_status === "Submitted"
    script.
      $(document).ready(function(){
        $(".scope-form input, .scope-form textarea, .scope-form select").prop("disabled", true);
      })

//- PDF Generator
block pdfGenerator
  //- these libraries will generate pdf
  script(type="text/javascript" src="/vendor/pdfmake/pdfmake.min.js")
  script(type="text/javascript" src="/vendor/pdfmake/vfs_fonts.js")

  //- Base64 images to initialize for rendering
  script(type="text/javascript" src="/vendor/pdfmake/images.js")

  //- call the template
  include pdf-templates/_projectScopeRenderer

block content
  .container
    +flashMsg()
    form.scope-form(method="post" action=`/project/${project.encodeProjCode(project.id)}/update`)
      // Page Heading
      .d-sm-flex.align-items-center.justify-content-between.mb-4
        h1.h3.mb-2.text-gray-800.d-none.d-sm-none.d-md-block #{title}
        if project.project_status === "In Progress"
          a.d-sm-inline-block.btn.btn-sm.btn-success.shadow-sm(href='#' data-toggle="modal" data-target="#submitProjectModal")
            i.fas.fa-upload.fa-sm.text-white-50
            |  Submit Project to YourQS

      .d-sm-inline-block.align-items-center.justify-content-between.mb-4
        if project.project_status === "In Progress"
          button.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm(type="submit")
            i.fas.fa-save.fa-sm.text-white-50
            |  Save Project
        if project.project_status === "Submitted"
          button.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm(type="submit")
            i.fas.fa-save.fa-sm.text-white-50
            |  Clone Project

        //- The download PDF function is inside pdf-templates/_projectScopeRenderer
        button.ml-2.d-sm-inline-block.btn.btn-sm.btn-danger.shadow-sm(OnClick='downloadPDF()') 
          i.fas.fa-file-pdf.fa-sm.text-white-50
          |  &nbsp;Download PDF
        
      .row
        +mainProject()
        +manpower()
        +siteArrangement()
        +safetyRequirement()
        +allowanceAndInsurance()
        +temporaryService()
        +professionalServiceAllowance()
        +interior()
        +interiorTrims()
        +windowsAndDoors()
        +interiorFinishes()
        +joineryAllowance()
        +plumbing()
        +electrical()
        +drainage()
        +other()
        +exterior()
        +hardLandscaping()
