extends layout

include mixins/_flashMsg

block content
   .container
    .row.justify-content-center
      .col-xl-6.col-lg-6.col-md-9.bg-white.p-5.rounded
        form(method='POST' action='/forgot-password').user
          .form-group.form-row
            .col-sm-12.mb-3.mb-sm-0
              h1.h4.mb-4.text-gray-900.text-center= title
              +flashMsg()
              .input-group
                input.form-control.form-control-user(required type='text' name='email' placeholder='Enter your email address' value=(!userData ? '' : userData.email ))
              hr
              button.btn.btn-primary.btn-user.btn-block.align-middle(type="submit") 
                i.fa.fa-envelope
                | Send
          