extends layout

//- include mixins
include mixins/_registerForm

block content
  .container
    +registerForm()

block stylesheet
  //- Jquery ui css
  link(href='/vendor/jquery-ui/jquery-ui.css' rel='stylesheet')

block javascript
  //- ADDY SECRET and KEY
  script.
    var a_key = "#{a_key}";
    var a_secret = "#{a_secret}";

  //- Jquery ui for autocomplete address
  script(src='/vendor/jquery-ui/jquery-ui.min.js')

  //- register scripts
  script(src='/vendor/jquery-ui/register-script.js')