mixin hardLandscaping()
    .col-lg-12
        .card.shadow.mb-4
            .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
                h6.m-0.font-weight-bold.text-primary Hard Landscaping
                .dropdown.no-arrow
                    a#dropdownMenuLink.dropdown-toggle(href="#hardLandscaping" data-toggle="collapse" role="button" aria-expanded="true")
                        i.fas.fa-ellipsis-v.fa-sm.fa-fw.text-gray-400
            .card-body.collapse#hardLandscaping
                .row.d-flex.flex-wrap
                    .col.col-12.col-sm-12.col-md-12.col-lg-6
                        h6.m-0.font-weight-bold.text-primary.w-100 Deck
                        div.form-group.form-row
                            .col.col-12
                                label.small(for="site-sign") Type
                                .input-group
                                    select.form-control(name="site-sign")
                            .col.col-12
                                label.small(for="site-sign") Work Required
                                .input-group
                                    input.form-control(name="site-sign")
                        h6.m-0.font-weight-bold.text-primary.w-100 Handrail
                        div.form-group.form-row
                            .col.col-12
                                label.small(for="site-sign") Type
                                .input-group
                                    select.form-control(name="site-sign")
                            .col.col-12
                                label.small(for="site-sign") Work Required
                                .input-group
                                    input.form-control(name="site-sign")  
                        h6.m-0.font-weight-bold.text-primary.w-100 Paving     
                        div.form-group.form-row
                            .col.col-12
                                label.small(for="site-sign") Type
                                .input-group
                                    select.form-control(name="site-sign")
                            .col.col-12
                                label.small(for="site-sign") Work Required
                                .input-group
                                    input.form-control(name="site-sign")
                    .col.col-12.col-sm-12.col-md-12.col-lg-6
                        h6.m-0.font-weight-bold.text-primary.w-100 Driveway
                            div.form-group.form-row
                                .col.col-12
                                    label.small(for="site-sign") Type
                                    .input-group
                                        select.form-control(name="site-sign")
                                .col.col-12
                                    label.small(for="site-sign") Work Required
                                    .input-group
                                        input.form-control(name="site-sign")
                        h6.m-0.font-weight-bold.text-primary.w-100 Fencing
                        div.form-group.form-row
                            .col.col-12
                                label.small(for="site-sign") Type
                                .input-group
                                    select.form-control(name="site-sign")
                            .col.col-12
                                label.small(for="site-sign") Work Required
                                .input-group
                                    input.form-control(name="site-sign")
                        h6.m-0.font-weight-bold.text-primary.w-100 Other
                        div.form-group.form-row
                            .col.col-12
                                label.small(for="site-sign") Type
                                .input-group
                                    textarea.form-control(name="site-sign")
                        