mixin other()
    .col-lg-6
        .card.shadow.mb-4
            .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
                h6.m-0.font-weight-bold.text-primary Other
                .dropdown.no-arrow
                    a#dropdownMenuLink.dropdown-toggle(href="#other" data-toggle="collapse" role="button" aria-expanded="true")
                        i.fas.fa-ellipsis-v.fa-sm.fa-fw.text-gray-400
            .card-body.collapse#other
                .div.form-group.form-row
                    .col
                        label.small(for="other_demolition") Demolition
                        .input-group
                            textarea.form-control#comment(name="other_demolition") #{project.Other.demolition}
                .div.form-group.form-row
                    .col
                        label.small(for="other_renovation") Renovation
                        .input-group
                            textarea.form-control#comment(name="other_renovation") #{project.Other.renovation}
                .div.form-group.form-row
                    .col
                        label.small(for="other_comments") Comments
                        .input-group
                            textarea.form-control#comment(name="other_comments") #{project.Other.comments}